body{
    font-family: 'Simpsonfont', sans-serif;background: #ffbb22 url('/assets/img/texture.png');background-position: top center;
    background-size:contain;background-repeat: no-repeat;}

ul li a, .btn-simpson {font-family: 'Akbar', sans-serif;font-weight:bold;}
a{
    text-decoration:none;
    color:#000;
    text-shadow: 7px 6px 10px #f4fcfe;
    
}
a:hover{
    color:#fff;
    text-shadow:none;
    
}   
p{
    line-height: 2.2em;
    font-family: 'Akbar', sans-serif;
}

li{
    list-style-type: none;
}

span{
    font-family:Akbar,serif; 
    font-weight: bolder;
}
h5{
    text-shadow: 7px 6px 10px #f4fcfe;
    font-size:1.8em;
}
.navbar-brand img{
    max-width:150px;
}
    
#call-to-action h2,
#about h2,
#how-to-buy h2,
#tokenomics h2,
#roadmap h2{
    font-family: 'Simpsonfont', sans-serif;
    text-shadow: 7px 6px 10px #f4fcfe; 
    font-weight:bolder;
    font-size: 2.5em;
}

#call-to-action button{
    background-color:black;
    color:#ffbb22;
    transition: 800ms;
}
#call-to-action button:hover{
    background-color:#fff;
    color:#000;
}

.social-icons a{
    transition: 800ms;
    
}
.social-icons a:hover{
    transform: scale(1.2);
}


.social-icons img:nth-child(-n+3){
    max-width:3.2rem;
}

.nav-link, .nav-link:focus{
    color:#fff;
}

.nav-link:hover{
    color:#ffbb22;
}

.btn-simpson{
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    padding: 5px 25px;
    font-weight:bold;
    transition: 800ms;
}
.btn-simpson:hover{
    background-color: 	#ffbb22;
    border-color:#ffbb22;
    color:black;
    
}
/*---Section About-----*/
#about{
    background-color: #f5b520;
    padding: 8rem 0;
    box-shadow: 0px 4px 20px #000000;
    
}

#about img, 
#how-to-buy img{
    max-width:596px;
}

#about p{
    max-width:596px; 
}

/*--Section How To Buy----*/
#how-to-buy, #roadmap, #pre-footer{
    padding: 8rem 0;
    box-shadow: 0px 4px 20px #000000;
}

#how-to-buy img{
    max-width:200px;
}

.card{
    background-color: transparent;
    border-color:black;
    box-shadow: 0px 2px 10px #000000;
    max-height:510px; 
    overflow:hidden;
}

.card img{
    align-self: center;
}
/*--Section tokenomics---*/

#tokenomics{
    background-color: #f5b520;
    padding: 8rem 0;
    box-shadow: 0px 4px 20px #000000;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  /*---Roadmap section---*/
  .margin-plus{
    margin-bottom: 2.2em;
  }

  #tokenomics img:nth-child(n+1),
  #roadmap img{
    max-width:35px;
  }

  /*--Pre Footer---*/
  #pre-footer{
    background: #f5b520 url('/assets/img/texture.png');
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
  }

  #pre-footer img{
    max-width:200px;
  }   

  /*--Footer---*/
  footer span:nth-child(n+2){
    color:#ffbb22;
  }

  @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        font-size: 0.85em;
    }
  }
 
       
 

